  <footer id="footer">
    <nav>
      <ul>
        <li>
            <a href="http://www.freexian.com">Company</a>
        </li>
        <li>
	    <a href="{{.Site.BaseURL}}/updates/">Updates</a>
        </li>
        <li>
	    <a href="{{.Site.BaseURL}}/docs/">Docs</a>
        </li>
      </ul>
    </nav>
    <p>&copy; 2018-2022 Freexian SARL</p>
  </footer>
